
    <div class="container p-5">
        <div class="wrapper fadeInDown">
            <div id="formContent">
        
                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="assets/images/logo.png" alt="User Icon">
                </div>
        
                <form (submit)="signIn()">
                    <input [(ngModel)]="admin.correo" type="text" name="username" id="name" autocomplete="off" placeholder="username">
                    <input [(ngModel)]="admin.password" type="password" name="password" id="password" placeholder="password">
                    <input type="submit" class="fadeIn fourth" value="Ingresar">
                </form>
            </div>
        </div>
    </div>