<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <img src="assets/images/logo.png" alt="" style="width: 40; height: 80;">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!authservice.loggedIn(); else loggedIn">
          <li class="nav-item active">
            <a class="nav-link" href="/home" routerLinkActive="active">Inicio</a>
          </li>
        </ng-container>
        
        <ng-template #loggedIn>
          <li class="nav-item active">
            <a class="nav-link" href="/home" routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="authservice.logout()">Cerrar Sesion</a>
          </li>
          <li class="nava-item dropdown" *ngIf="chatService.messages">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mensajes(<b>{{chatService.messages.length}}</b>)</a>
            <ul class="dropdown-menu notify-drop">
              <div class="notify-drop-title">    
                <div class="row">
                  <div class="col-md-6 col-sm-6 coñ-xs-6">
                    Notificaciones(<b>{{chatService.messages.length}}</b>)
                  </div>
                </div>
              </div>
              
              <div class="drop-content">
                <li *ngFor="let mensaje of chatService.messages">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <img class="img-thumbnail" src="http://placehold.it/45x45" alt="">
                  </div>
                  <div class="col-md-9 col-sm-3 col-xs-3">                    
                    <a [routerLink]="['/chat',mensaje.chatName]"><p>{{mensaje.contenido}}</p></a>
                  </div>
                </li>

              </div>
            </ul>
          </li>
        </ng-template>
        
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar"
          aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer>
		
  <div class="footer-limiter">

    <div class="footer-right">

      <a target="_blank" href="https://www.facebook.com/abisursimei.diazramirez/"><i class="fab fa-facebook"></i></a>
      <a target="_blank" href="https://twitter.com/koizumi1993"><i class="fab fa-twitter"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/abisur-simei-diaz-ramirez-957a7a121/"><i class="fab fa-linkedin-in"></i></a>
      <a target="_blank" href="https://github.com/AbisurDiazR"><i class="fab fa-github"></i></a>

    </div>

    <div class="footer-left">
      <p>ChangoTareas © 2020, todos los derechos reservados</p>
    </div>

  </div>

</footer>